.admin-dashboard {
  height: 100vh;
  background-color: #f6f7fb;
}

.sidebar {
  width: 240px;
  background-color: #b30000;
  display: flex;
  flex-direction: column;
  color: white;
}

.sidebar .logo {
  width: 120px;
}

.sidebar .avatar {
  width: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.nav-link {
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  padding: 10px 0;
  font-weight: 500;
}

.nav-link.active,
.nav-link:hover {
  color: #fff;
  background-color:  rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
